<!DOCTYPE html>
<html>

<head>
    <title>Update Details</title>
</head>

<body>

    <h1>Update Your Details</h1>


    <!-- Flash Messages -->

    {% with messages = get_flashed_messages() %}

        {% if messages %}

            {% for message in messages %}

                <p>{{ message }}</p>

            {% endfor %}

        {% endif %}

    {% endwith %}


    <!-- Update Form -->

    <form
        action="/update/{{ user_id }}"
        method="POST"
    >

        <label>First Name:</label>

        <input
            type="text"
            name="first_name"
            value="{{ first_name }}"
            required
        >

        <br><br>


        <label>Last Name:</label>

        <input
            type="text"
            name="last_name"
            value="{{ last_name }}"
            required
        >

        <br><br>


        <label>Username:</label>

        <input
            type="text"
            name="username"
            value="{{ username }}"
            required
        >

        <br><br>


        <label>Password:</label>

        <input
            type="password"
            name="password"
            value="{{ password }}"
            required
        >

        <br><br>


        <input
            type="submit"
            value="Update Details"
        >

    </form>


    <br>


    <a href="/login">
        Back to Login
    </a>

</body>

</html>